# Conditions in list comprehensions

In [1]:
[x for x in range(12)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [2]:
[x for x in range(12) if x % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [3]:
[x if x % 2 == 0 else "Not divisible by 2" for x in range(12)]

[0,
 'Not divisible by 2',
 2,
 'Not divisible by 2',
 4,
 'Not divisible by 2',
 6,
 'Not divisible by 2',
 8,
 'Not divisible by 2',
 10,
 'Not divisible by 2']

# Booleans in pandas data frames

In [4]:
import pandas as pd

df = pd.DataFrame.from_dict(
    {
        "bool_col_1": [False] * 3 + [True, True],
        "bool_col_2": [True, False, True, False, True],
    }
)
df

   bool_col_1  bool_col_2
0       False        True
1       False       False
2       False        True
3        True       False
4        True        True

In [5]:
# 可以执行操作
df["bool_col_1"] | df["bool_col_2"]

0     True
1    False
2     True
3     True
4     True
dtype: bool

In [6]:
# true 值的数量
df.sum()

bool_col_1    2
bool_col_2    3
dtype: int64

In [7]:
# 将 0、1 数据转换为布尔值
df = pd.DataFrame.from_dict({"bool_col": [0, 1, 0, 1, 1]})
df["bool_col"].astype(bool)

0    False
1     True
2    False
3     True
4     True
Name: bool_col, dtype: bool

# 用列比较方式创建布尔值

In [8]:
diamonds = pd.read_csv(
    "https://github.com/mwaskom/seaborn-data/raw/master/diamonds.csv"
)
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [9]:
diamonds["expensive"] = diamonds["price"] > 1000
diamonds.sample(10)

,carat,cut,color,clarity,depth,table,price,x,y,z,expensive
41090,0.41,Ideal,F,VVS2,62.3,56.0,1192,4.77,4.73,2.96,True
15367,0.30,Ideal,F,VS2,60.9,56.0,605,4.32,4.35,2.64,False
41699,0.41,Premium,E,VVS1,61.2,62.0,1241,4.78,4.76,2.92,True
36340,0.32,Ideal,G,VVS2,62.2,57.0,936,4.38,4.36,2.72,False
24749,1.96,Very Good,H,SI2,62.7,58.0,13099,7.86,7.93,4.95,True
19742,1.51,Good,I,SI1,63.7,58.0,8313,7.22,7.26,4.61,True
17243,1.01,Premium,F,VS2,59.2,61.0,6900,6.59,6.55,3.89,True
11889,1.06,Premium,G,SI1,61.5,59.0,5113,6.57,6.53,4.03,True
18297,1.12,Premium,F,VS2,62.8,56.0,7437,6.67,6.61,4.17,True
26894,2.18,Very Good,G,SI2,63.1,58.0,16878,8.29,8.23,5.21,True

In [10]:
# 或者这样
diamonds.assign(expensive=lambda x: x["price"] > 1000).head()

,carat,cut,color,clarity,depth,table,price,x,y,z,expensive
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,False
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,False
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,False
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,False
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,False

In [11]:
diamonds.columns.isin(["x", "y", "z"])

array([False, False, False, False, False, False, False,  True,  True,
        True, False])

In [12]:
diamonds[diamonds["x"] > diamonds["y"]]

,carat,cut,color,clarity,depth,table,price,x,y,z,expensive
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,False
8,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,False
11,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,False
12,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33,False
14,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,False
...,...,...,...,...,...,...,...,...,...,...,...
53928,0.79,Premium,E,SI2,61.4,58.0,2756,6.03,5.96,3.68,True
53929,0.71,Ideal,G,VS1,61.4,56.0,2756,5.76,5.73,3.53,True
53930,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49,True
53931,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43,True
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,True