# Creating Strings

In [2]:
string_one = "This is a string"
string_two = (
    "If I want to include a 'quote' inside a string, I use double quotes on the outside"
)

In [3]:
type(string_one)

str

In [4]:
string_one + ". " + string_two + "."

"This is a string. If I want to include a 'quote' inside a string, I use double quotes on the outside."

In [5]:
". ".join([string_one, string_two])

"This is a string. If I want to include a 'quote' inside a string, I use double quotes on the outside"

In [6]:
var = "input TEXT"
var_list = [var.upper(), var.lower(), var.title()]
print(var_list)

['INPUT TEXT', 'input text', 'Input Text']

In [7]:
print(*var_list, sep="; and \n")

INPUT TEXT; and
input text; and
Input Text

In [8]:
(
        "A boolean is either "
        + str(True)
        + " or "
        + str(False)
        + ", there are only "
        + str(2)
        + " options."
)

'A boolean is either True or False, there are only 2 options.'

## f-strings

In [9]:
variable = 15.32399
print(f"You scored {variable}")

You scored 15.32399

In [10]:
print(f"You scored {variable ** 2}")

You scored 234.8246695201

In [11]:
print(f"You scored {variable:+.2f}")

You scored +15.32

格式化

![format](./pic/string-format.png)

[更多](https://www.python-utils.com/)
[string-formatting](https://mkaz.blog/working-with-python/string-formatting/)

In [12]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [14]:
string.digits

'0123456789'

In [15]:
print(r"a\tb\nA\tB")

a\tb\nA\tB

# Cleaning Text

In [16]:
"Value is objective".replace("objective", "subjective")

'Value is subjective'

In [17]:
text = "At six o'clock we were waiting for coffee, \n waiting for coffee and the charitable crumb \n that was going to be served from a certain balcony \n --like kings of old, or like a miracle. \n It was still dark. One foot of the sun \n steadied itself on a long ripple in the river."
word = "coffee"
print(f'The word "{word}" appears {text.count(word)} times.')

The word "coffee" appears 2 times.

# Multiple Strings

In [18]:
import pandas as pd

dfs = pd.Series(
    ["ada lovelace", "adam smith", "elinor ostrom", "grace hopper", "jean bartik"],
    dtype="string",
)
dfs

0     ada lovelace
1       adam smith
2    elinor ostrom
3     grace hopper
4      jean bartik
dtype: string

In [19]:
dfs.str.title()

0     Ada Lovelace
1       Adam Smith
2    Elinor Ostrom
3     Grace Hopper
4      Jean Bartik
dtype: string

In [20]:
df = pd.DataFrame(dfs, columns=["names"])
df["names"].str.title()

0     Ada Lovelace
1       Adam Smith
2    Elinor Ostrom
3     Grace Hopper
4      Jean Bartik
Name: names, dtype: string

In [22]:
df["names"].str.split(" ")

0     [ada, lovelace]
1       [adam, smith]
2    [elinor, ostrom]
3     [grace, hopper]
4      [jean, bartik]
Name: names, dtype: object

In [23]:
df["names"].str.split(" ", n=2, expand=True)

        0         1
0     ada  lovelace
1    adam     smith
2  elinor    ostrom
3   grace    hopper
4    jean    bartik

In [24]:
df = pd.DataFrame(
    {
        "names": [
            "ada lovelace",
            "adam smith",
            "elinor ostrom",
            "grace hopper",
            "jean bartik",
        ],
        "tags": ["uk; cs", "uk; econ", "usa; econ", "usa; cs", "usa; cs"],
    }
)
df

           names       tags
0   ada lovelace     uk; cs
1     adam smith   uk; econ
2  elinor ostrom  usa; econ
3   grace hopper    usa; cs
4    jean bartik    usa; cs

In [25]:
df["tags"].str.get_dummies(";")

    cs   econ  uk  usa
0    1      0   1    0
1    0      1   1    0
2    0      1   0    1
3    1      0   0    1
4    1      0   0    1

# Reading Text