In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({"A": ["a", "b", "c", "a"]})

df["A"] = df["A"].astype("category")
df["A"]

0    a
1    b
2    c
3    a
Name: A, dtype: category
Categories (3, object): ['a', 'b', 'c']

In [2]:
df = pd.DataFrame({"value": np.random.randint(0, 100, 20)})
labels = [f"{i} - {i + 9}" for i in range(0, 100, 10)]
df["group"] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df.head()

   value    group
0     90  90 - 99
1     83  80 - 89
2     33  30 - 39
3     20  20 - 29
4     21  20 - 29

In [3]:
raw_cat = pd.Categorical(
    ["a", "b", "c", "a", "d", "a", "c"], categories=["b", "c", "d"]
)
raw_cat

[NaN, 'b', 'c', NaN, 'd', NaN, 'c']
Categories (3, object): ['b', 'c', 'd']

In [4]:
df = pd.DataFrame(raw_cat, columns=["cat_type"])
df["cat_type"]

0    NaN
1      b
2      c
3    NaN
4      d
5    NaN
6      c
Name: cat_type, dtype: category
Categories (3, object): ['b', 'c', 'd']

In [5]:
ordered_cat = pd.Categorical(
    ["a", "b", "c", "a", "d", "a", "c"],
    categories=["a", "b", "c", "d"],
    ordered=True,
)
ordered_cat

['a', 'b', 'c', 'a', 'd', 'a', 'c']
Categories (4, object): ['a' < 'b' < 'c' < 'd']

In [6]:
df["cat_type"].cat.categories

Index(['b', 'c', 'd'], dtype='object')

In [7]:
df["cat_type"] = df["cat_type"].cat.rename_categories(["alpha", "beta", "gamma"])

In [8]:
df["cat_type"] = df["cat_type"].cat.add_categories(["delta"])
df["cat_type"]

0      NaN
1    alpha
2     beta
3      NaN
4    gamma
5      NaN
6     beta
Name: cat_type, dtype: category
Categories (4, object): ['alpha', 'beta', 'gamma', 'delta']

In [9]:
df["cat_type"].value_counts()

cat_type
beta     2
alpha    1
gamma    1
delta    0
Name: count, dtype: int64