In [1]:
import pandas as pd

In [3]:
students = pd.read_csv("students.csv")
students

   Student ID         Full Name      favourite.food             mealPlan   AGE
0           1    Sunil Huffmann  Strawberry yoghurt           Lunch only     4
1           2      Barclay Lynn        French fries           Lunch only     5
2           3     Jayendra Lyne                 NaN  Breakfast and lunch     7
3           4      Leon Rossini           Anchovies           Lunch only     8
4           5  Chidiegwu Dunkel               Pizza  Breakfast and lunch  five
5           6     Güvenç Attila           Ice cream           Lunch only     6

1. 读文件
2. 标准化处理（列名、cell 数据类型等）

In [4]:
from skimpy import clean_columns

students = clean_columns(students)
students

   student_id         full_name      favourite_food            meal_plan   age
0           1    Sunil Huffmann  Strawberry yoghurt           Lunch only     4
1           2      Barclay Lynn        French fries           Lunch only     5
2           3     Jayendra Lyne                 NaN  Breakfast and lunch     7
3           4      Leon Rossini           Anchovies           Lunch only     8
4           5  Chidiegwu Dunkel               Pizza  Breakfast and lunch  five
5           6     Güvenç Attila           Ice cream           Lunch only     6

In [5]:
students["favourite_food"] = students["favourite_food"].astype("string")
students

   student_id         full_name      favourite_food            meal_plan   age
0           1    Sunil Huffmann  Strawberry yoghurt           Lunch only     4
1           2      Barclay Lynn        French fries           Lunch only     5
2           3     Jayendra Lyne                <NA>  Breakfast and lunch     7
3           4      Leon Rossini           Anchovies           Lunch only     8
4           5  Chidiegwu Dunkel               Pizza  Breakfast and lunch  five
5           6     Güvenç Attila           Ice cream           Lunch only     6

In [6]:
import numpy as np

students["age"] = students["age"].replace("five", 5)
students["age"]

0    4
1    5
2    7
3    8
4    5
5    6
Name: age, dtype: object

In [7]:
students["meal_plan"] = students["meal_plan"].astype("category")
students["meal_plan"]

0             Lunch only
1             Lunch only
2    Breakfast and lunch
3             Lunch only
4    Breakfast and lunch
5             Lunch only
Name: meal_plan, dtype: category
Categories (2, object): ['Breakfast and lunch', 'Lunch only']

In [8]:
students = students.astype({"student_id": "int", "full_name": "string", "age": "int"})
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      6 non-null      int32
 1   full_name       6 non-null      string
 2   favourite_food  5 non-null      string
 3   meal_plan       6 non-null      category
 4   age             6 non-null      int32
dtypes: category(1), int32(2), string(2)
memory usage: 402.0 bytes

# 多文件读取

In [ ]:
list_of_dataframes = [
    pd.read_csv(x)
    for x in ["data/01-sales.csv", "data/02-sales.csv", "data/03-sales.csv"]
]
sales_files = pd.concat(list_of_dataframes)
sales_files

In [ ]:
import glob

list_of_csvs = glob.glob("data/*-sales.csv")
print("List of csvs is:")
print(list_of_csvs, "\n")
sales_files = pd.concat([pd.read_csv(x) for x in list_of_csvs])
sales_files

# 写文件

In [10]:
students.to_csv("students-clean.csv")

In [11]:
# 再次读取处理过的文件发现，有些数据类型丢失了。
# csv 不存储 category 等类型数据。所以需要存储到另外的数据格式。
pd.read_csv("students-clean.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6 non-null      int64
 1   student_id      6 non-null      int64
 2   full_name       6 non-null      object
 3   favourite_food  5 non-null      object
 4   meal_plan       6 non-null      object
 5   age             6 non-null      int64
dtypes: int64(3), object(3)
memory usage: 416.0+ bytes

In [12]:
students.to_feather("students-clean.feather")

In [13]:
pd.read_feather("students-clean.feather").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      6 non-null      int32
 1   full_name       6 non-null      string
 2   favourite_food  5 non-null      string
 3   meal_plan       6 non-null      category
 4   age             6 non-null      int32
dtypes: category(1), int32(2), string(2)
memory usage: 402.0 bytes

In [15]:
from watermark import watermark

print(watermark())

Last updated: 2023-09-25T14:59:40.909076+08:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 8.12.2

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 183 Stepping 1, GenuineIntel
CPU cores   : 24
Architecture: 64bit